---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.vue';
import Hero from '@/components/Hero.vue';
import Services from '@/components/Services.vue';
import About from '@/components/About.vue';
import Contact from '@/components/Contact.vue';
import Footer from '@/components/Footer.vue';

const locale = 'en';
---

<Layout locale={locale}>
  <Header client:load locale={locale} />
  <main>
    <Hero client:load locale={locale} />
    <Services client:load locale={locale} />
    <About client:load locale={locale} />
    <Contact client:load locale={locale} />
  </main>
  <Footer client:load locale={locale} />
</Layout>
